.Board{
    height: 100vw;
    position: relative;
}

.board-img{
    width: 100%;
    
}
.line-img{
    position:absolute;
    height: 100%;
    display: none;
}
.marks{
    position: absolute;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    width: 80%;
    height: 85%;
    text-align: center;
    

}

.marks p{
    margin: 0;
    margin-top:25%;
    font-size: 200%;
    height: 99%;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) and (orientation:landscape) {
    .Board{
        height: 50vh;
    }
}